@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.common_btn {
    background-color: #FD6E0A;
    border-radius: 4px;
    padding: 7px 12px;
    border:none;
    color:white;
    font-weight: 700;
    cursor: pointer;
}
.container{
    margin:0px auto ;
    max-width: 1200px;
    font-size: 1.3rem;
    border-radius: 5px;
}
/* header start */
nav h2{
    font-weight: 800;

}
.mary_r{
    color:#FD6E0A;

}

nav {
    display:flex;
    justify-content: space-between;
    padding: 10px;
    
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 10px 10px;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    cursor: pointer;
    color:black;
}
/* header end */

/* hero section style start*/
#section_root{
    background-color: #fff8f3;
}
#hero_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#hero_section .hero_info p, h1{
    margin: 15px 0px;
    width:90%;
    text-align: justify;
}

#hero_section .hero_info p:nth-child(1){
    font-weight: 600;
    color:#474747;
}
#hero_section .hero_info p:nth-child(3){
    font-weight: 400;
    color:#757575;
}

.download_btn{
     padding: 12px 12px;
}
.contact_btn{
     padding: 10px 12px;
     border: 1px solid #FD6E0A;
     background-color: #fff;
     color:#FD6E0A;
}


/* hero section style end */

/* about section start  */
.about_sec_container{
    background-color: #fff8f3;
    margin: 50px auto;
    padding:90px 180px;
    text-align: center;
    
}
.about_contant h2, p, .div_about_info{
    margin: 20px 0px;
}

.about_contant p{
    color: #757575;
    font-size: smaller;
}

.about_contant .div_about_info{
    display: flex;
    justify-content: space-between;

}
.about_contant .div_about_info .box h3{
    font-size:1.1rem;
    margin-top: -15px;

}

/* about section end  */